    <div class="container-fluid">
      <div class="row-fluid">
        <%== erb :sidebar, :layout => false %>
        <div class="span9">
          <div class="hero-unit">
            <div>
              <p>by <%= @post['username'] %> at <%= @post['created_at'] %></p>
              <form action="<%= url_for('/star/') %><%= u(@post['id']) %>" method="post">
                <%== Rack::Csrf.tag(env) %>
                <% unless @session['username'].nil? %>
                <button class="btn btn-primary" id="add_star"><i class="icon-star icon-white"></i>＋</button>
                <% else %>
                <a href="<%= url_for('/signin') %>" class="btn">sign in to add Star</a>
                <% end %>
              <% if @post['stars'] > 0 %><i class="icon-star"></i><%= @post['stars'] %><% end %>
              <pre><%= @post['content'] %></pre>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
