        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Recent Posts</li>
              <% @recent_posts.each do |p| %>
              <li>
                <a href="<%= url_for('/post/') %><%= u(p['id'].to_s) %>"><i class="icon-file"></i><%= p['headline'] %> by <%= p['username'] %>
                  <% if p['stars'] > 0 %><i class="icon-star"></i><%= p['stars'] %><% end %>
                </a>
              </li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
